<div class="panel panel-default">
  <div class="panel-heading">问题区</div>
  <div class="panel-body special">
    <router-outlet>
      <!-- <div class="row">
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
             <img src="/images/boya.jpg" alt="...">
             <div class="caption">
             </div>
           </div>
         </div>
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
             <img src="/images/computerscience.jpg" alt="...">
             <div class="caption">
             </div>
           </div>
         </div>
         <div class="col-sm-6 col-md-4">
           <div class="thumbnail">
             <img src="/images/yiliao.png" alt="...">
             <div class="caption">
             </div>
           </div>
         </div>
       </div>-->
    </router-outlet>
  </div>
</div>
