<div class="row">
  <div class="col-md-12 text-center">
    <div class="page-header">
      <h1><span class="glyphicon glyphicon-send"></span>关于我<small>欢迎大家来骚扰哦，交个朋友呗！</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <h2>崔晋瑜</h2>
    <h3>一个热爱运动但又不怎么运动的小渣鸡，一个想要通过代码创造新鲜事物但又不怎么会写代码的小萌新。好玩就好咯~逃~。喜欢交朋友，喜欢很多很多很多很多东西。~~~一只活泼的小金鱼</h3>
    <div class="contact">
      <h3>QQ:2510271615</h3>
      <h3>Wechat;崔晋瑜</h3>
      <h3>Facebook:崔晋瑜</h3>
      <h3>Github:cuijinyu</h3>
      <h3>个人主页:<a href="http://cuijinyu.github.io">cuijinyu.github.io</a></h3>
    </div>
  </div>
  <div class="col-md-8 text-center">
    <img src="/images/IMG_20160724_155304026.jpg" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-12"></div>
</div>
