<div class="row">
  <div class="col-md-12 background">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">管理员登录</h4>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <h2>请按照管理员所给账户密码登录</h2>
                <p>账号:</p>
                <input type="text" id="name" class="form-control" [(ngModel)]="username">
                <p>密码:</p>
                <input type="password" id="password" class="form-control" [(ngModel)]="userpassword">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="loginorder()" >登录到义疗预约</button>
              <button type="button" class="btn btn-primary" (click)="loginproblem()">登录到问题管理</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
