<div class="row DESC">
  <div class="col-md-4 text-center">
    <h2><span class="glyphicon glyphicon-bookmark"></span>电脑义疗服务中心：</h2>
  </div>
  <div class="col-md-8 text-center desc">
    <h4>电脑义疗服务中心隶属于计算机与信息技术学院团委学生会，由技术部和联络部两个部门组成，我们的宗旨是：您有问题，我来解决！专注于解决同学们的电脑问题！</h4>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 dis1">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h3>义疗分管主席：任巧燕</h3>
  </div>
  <div class="col-md-4 dis2">
    <img src="/images/成景文.jpg" alt="..." class="img-circle">
    <h3>联络部部长：成景文</h3>
    <p></p>
  </div>
  <div class="col-md-4 dis3">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h3>技术部部长：张天宇</h3>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 dis4">
    <img src="/images/程宁.jpg" alt="..." class="img-circle">
    <h3>技术部副部长：程宁</h3>
    <h4>心怀梦想，虚怀若谷</h4>
  </div>
  <div class="col-md-4 dis5">
    <img src="/images/IMG_20160724_155304026.jpg" alt="..." class="img-circle">
    <h4>部员：崔晋瑜</h4>
  </div>
  <div class="col-md-4 dis6">
    <img src="/images/谢光明.jpg" alt="..." class="img-circle">
    <h4>部员：谢光明</h4>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 dis7">
    <img src="/images/郝圣杰.jpg" alt="..." class="img-circle">
    <h4>部员：郝圣杰</h4>
  </div>
  <div class="col-md-4 dis8">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h4>部员：沈皓钰</h4>
  </div>
  <div class="col-md-4 dis9">
    <img src="/images/徐梦洋.jpg" alt="..." class="img-circle">
    <h4>部员：徐梦洋</h4>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 dis10">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h4>部员：张鸽</h4>
  </div>
  <div class="col-md-4 dis11">
    <img src="/images/樊亚龙.jpg" alt="..." class="img-circle">
    <h4>部员：樊亚龙</h4>
  </div>
  <div class="col-md-4 dis12">
    <img src="/images/丁家杰.jpg" alt="..." class="img-circle">
    <h4>部员：丁家杰</h4>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 dis13">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h4>部员：范莉慧</h4>
  </div>
  <div class="col-md-4 dis14">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h4>部员：昝帅杰</h4>
  </div>
  <div class="col-md-4 dis15">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h4>部员：关春祥</h4>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 dis16">
    <img src="http://placehold.it/120x120" alt="..." class="img-circle">
    <h4>部员：武鹏艳</h4>
  </div>
  <div class="col-md-4 dis17">
    <img src="/images/董凤坤.jpg" alt="..." class="img-circle">
    <h4>部员：董凤坤</h4>
  </div>
</div>
