<div class="container-fluid">
  <div class="row bluebc">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <div class="logo">
        <img src="./images/logo.png" alt="">
        <h1>义疗小屋</h1>
        <h4>Computer Solutions<br>你有问题，我来解决</h4>
        <a class="btn btn-info btn-lg" routerLink="order">获取我们的帮助</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row grey">
    <div class="col-md-6 text-center">
      <img src="./images/wxb主页.png" alt="">
      <h2>免费用心的服务</h2>
      <h4>所有我们的义疗成员都会尽全力去为大家服务</h4>
      <img src="./images/wxb标王.png" alt="">
      <h2>长期广受好评</h2>
      <h4>我校的各院学生和老师都提出了高度评价</h4>
      <img src="./images/iconfont-mingpian.png" alt="">
      <h2>实名制的服务十分放心</h2>
      <h4>计科院学生会下属部门，我们所有成员都是实名制，您能够知道为您维修的同学的信息</h4>
    </div>
    <div class="col-md-6 text-center">
      <img src="./images/wxb工具.png" alt="">
      <h2>专业的水平</h2>
      <h4>我们所有成员都经过专业的培训</h4>
      <img src="./images/医生.png" alt="">
      <h2>专心为大家的电脑保驾护航</h2>
      <h4>长期以来我们专注于维护大家的电脑稳定</h4>
      <img src="./images/iconfont-yiqiyibiao.png" alt="">
      <h2>高效率高质量服务</h2>
      <h4>我们会用自己的空闲时间尽快帮您解忧</h4>
    </div>
  </div>
  <div class="row but">
    <div class="col-md-4 text-center">
      <img src="./images/日历.png" alt="">
      <h3>预约义疗</h3>
      <button class="btn btn-info"><a routerLink="/order">预约义疗</a></button>
    </div>
    <div class="col-md-4 text-center">
        <img src="./images/编辑svg.png" alt="">
        <h3>知识竞赛</h3>
        <button class="btn btn-info"><a routerLink="/knowledge">知识竞赛</a></button>
    </div>
    <div class="col-md-4 text-center">
      <img src="./images/书svg.png" alt="">
      <h3>问题自查</h3>
      <button class="btn btn-info"><a routerLink="/find">问题自查</a></button>
    </div>
  </div>
</div>
