<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <h2>加入我们</h2>
    </div>
    <div class="col-md-6">
      <h4>计算机与信息技术学院的2017届新生可以报名院学生会技术部与联络部来加入我们哦，其他年级其他学院的同学，欢迎加入我们的QQ群，我们将在那里与大家交流</h4>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 text-center">
    <img src="./images/temp_qrcode_share_415882661.png" alt="">
    <h3>山大电脑义疗服务群</h3>
  </div>
  <div class="col-md-6 text-center">
    <img src="./images/535201636289271279.jpg" alt="">
    <h3>计科博雅新闻中心</h3>
  </div>
</div>
